.wrapper {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
  border: black solid .06em;
  margin: 1em;
  text-align: center;
  width: 10em;
  height: 20em;
  border-radius: 5px;
  background: Dimgrey;
  color: white;
}
